* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card {
  width: 300px;
  height: 500px;
  perspective: 1000px;
  position: relative;
}

.card-body {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card:hover .card-body {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  overflow: hidden;
}

.front {
  background-image: url(../images/back.jpeg);
  
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.114);
  padding: 30px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.overlay h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.overlay .icon-front {
  width: 44px;
  height: 44px;
  border: 2px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back {
  background-color: #fff;
  transform: rotateY(180deg);
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.back a{
  font-size: 90px;
  color: #00ff33;
}
.back i {
  font-size: 24px;
  color: #32cbcb;
}
.back i:hover{
  color: #ffff;
}

.back h3 {
  margin-top: 20px;
  font-size: 20px;
  color: #1A1F36;
  line-height: 1.4;
}

.back p {
  font-size: 14px;
  color: #6D7A8B;
  margin-top: 15px;
  line-height: 1.6;
}

.footer {
  position: relative;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.footer .hover-wrap {
  display: flex;
  align-items: center;
  position: relative;
}

/* icon positioning */
.footer .icon {
  width: 44px;
  height: 44px;
  border: 2px solid #32cbcb;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #32cbcb;
  cursor: pointer;
  transition:  0.5s ;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  z-index: 2;
}
.footer button {
  background: none;
  border: none;
  color: #32cbcb;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 10px;
}
.footer .hover-wrap:hover button {
  opacity: 0;
  visibility: hidden;
}
.footer .hover-wrap:hover .icon {
  width: 180px;
  background-color: #32cbcb;
  color: #fff;
  padding: 0 18px;
}
.footer .hover-wrap:hover .icon::before {
  content: "Read More";
  margin-right: 8px;
}
